*{
  font-family: 'Crafty Girls', cursive;
  margin: 0px;
  padding: 0px;
}

.navbar{
  width: 100vw;
  height: 60px;
  background-color: #3FA1FF;
  color:white;
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homePage{
  background-color: #3FA1FF;
  color: white;
  height: 100vh;
}

.homePage-title{
  padding: 50px 0px 0px 75px;
  font-size: 40px;
  width: 60vw;
  text-align: center;
}

.homePage-icon{
  display: flex;
  justify-content: center;
  font-size: 200px;
  margin-top: 80px;
}

.homePage-button-title{
  font-size: 26px;
  font-weight: bolder;
  border-radius: 8px;
  border-color: #F7841E;
  background-color: #F7841E;
  color: white;
  padding: 8px;
}

.homePage-button-signIn{
  padding: 50px 0px 0px 140px;
}

.homePage-button-signUp{
  padding: 20px 0px 0px 135px;
}

.signUp-form{
  background-color: #3FA1FF;
  height: 100vh;
}

.signUp-form-content{
  border: 2px solid;
  border-radius: 10px;
  margin: 0px 50px 0px 50px;
  padding: 20px;
  height: 400px;
  background-color: white;
  border-color: white;
}

.signUp-form-button{
  font-size: 22px;
  border-radius: 10px;
  border-color: white;
  background-color: #F7841E;
  color: white;
  margin-left: 80px;
  padding: 6px;
  margin-top: 40px;  
}

.signUp-form-title{
  font-size: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

label{
  font-weight: bolder;
  display: flex;
  background-color: white;
  padding-bottom: 6px;
  padding-top: 5px;
}

.allContacts-title{
  font-weight: lighter;
  padding: 30px 0px 0px 110px;
  color: white;
}

#signupFormName{
  width: 227px;
  background-color: #f5f3f3;
}

#signupFormEmail{
  width: 227px;
  background-color: #f5f3f3;
}

#signupFormPassword{
  width: 227px;
  background-color: #f5f3f3;
}

#signupFormphoneNumber{
  width: 227px;
  background-color: #f5f3f3;
}

.signIn-form-content{
  border: 2px solid;
  border-radius: 10px;
  margin: 110px 50px 0px 50px;
  padding: 20px;
  height: 260px;
  background-color: white;
}

.signIn-form-button {
  font-size: 22px;
  border-radius: 10px;
  border-color: white;
  background-color: #F7841E;
  color: white;
  margin-left: 75px;
  padding: 6px;
  margin-top: 20px;
}

.signIn-form-title {
  font-size: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

#signInFormName{
  width: 227px;
  background-color: #f5f3f3;
}

#signInFormPassword{
  width: 227px;
  background-color: #f5f3f3;
}

.newContact-form{
  background-color: #3FA1FF;
  height: 100vh;
}

.newContact-form-content{
  border: 2px solid;
  border-radius: 10px;
  margin: 0px 50px 0px 50px;
  padding: 20px;
  height: 620px;
  background-color: white;
  border-color: white;
}

.newContact-form-button{
  font-size: 22px;
  border-radius: 10px;
  border-color: white;
  background-color: #F7841E;
  color: white;
  margin-left: 80px;
  padding: 6px;
  margin-top: 40px;  
}

.newContact-form-title{
  font-size: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

label{
  font-weight: bolder;
  display: flex;
  background-color: white;
  padding-bottom: 6px;
  padding-top: 5px;
}

.newContact-title{
  font-weight: lighter;
  padding: 30px 0px 0px 110px;
  color: white;
}

.newContact{
  border: 2px solid;
  border-radius: 20px;
  width: 80vw;
  height: 600px;
  background-color: white;
  margin: 25px 0px 0px 35px;
}

a{
  color:#f5f3f3;
}

#newContact-name{
  width: 227px;
  background-color: #f5f3f3;
}

#newContact-nickName{
  width: 227px;
  background-color: #f5f3f3;
}

#newContact-phoneNumber{
  width: 227px;
  background-color: #f5f3f3;
}

#newContact-email{
  width: 227px;
  background-color: #f5f3f3;
}

#newContact-address{
  width: 227px;
  background-color: #f5f3f3;
}

#newContact-note{
  width: 227px;
  height: 130px;
  background-color: #f5f3f3;
  border-radius: 15px;
}

.allContact-card{
  border: 2px solid;
  border-radius: 10px;
  width: 70vw;
  padding: 5px 0px 5px 15px;
  margin: 15px 0px 0px 50px;
  color: black;
  background-color: #f5f3f3;
}

.contact-detail{
  border: 2px solid;
  border-radius: 20px;
  width: 80vw;
  height: 600px;
  background-color: white;
  margin: 55px 0px 0px 35px;
}

.contact-detail-name{
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 15px;
}

.contact-detail-title{
  font-size: 18px;
  background-color: white;
  margin: 20px 0px 0px 30px
}

.contact-detail-content{
  background-color:#f5f3f3;
  margin: 5px 0px 10px 25px;
  padding: 6px;
  font-weight: bolder;
  border: 1px solid;
  border-radius: 10px;
  width: 80%;
}

.search-input{
  width: 75vw;
  background-color: #f5f3f3;
  margin-left: 40px;
  border-radius: 10px;
  padding: 4px;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

